div {
  padding-bottom: 10px;
}
.dark {
  font-weight: bold;
}
.fontsize {
  font-size: 13px;
  color: blue;
  margin-left: 7px;
}
.fontsize2 {
  font-size: 10px;
  opacity: 0.5;
  margin-left: 7px;
  margin-top: 0px;
}
.big {
  font-size: 24px;
}
.bgcolor {
  background-color: lightblue;
}
.bgcolor1 {
  background-color: white;
  height: auto;
}
.bgcolor2 {
  background-color: white;
  height: 310px;
  /* left: 50px; */
}
.trans {
  opacity: 0.5;
}
.row {
  height: 40px;
}
.row2 {
  background-color: white;
  margin-top: 0px;
  height: 150px;
  width: auto;
  margin-left: 0px;
}
.imgheight {
  /* line-height: 10px; */
  height: 10px;
}
.imgadjust {
  position: relative;
  top: 15px;
}
.rowadjust {
  position: relative;
  right: 15px;
}
.imgheight2 {
  height: 5px;
}
.imgheight3 {
  height: 0px;
}
.distance {
  height: 10px;
}
.marginleft {
  /* margin-left: 0.1px !important; */
  padding: 0.3% !important;
  margin-right: 1px !important;
  /* margin-bottom: 0.5px !important; */
  /* margin-top: 5px !important; */
}
.row1 {
  height: 300px;
  background-color: white;
}
.distance2 {
  height: 50px;
}
.topmargin {
  margin-top: 5px;
}
.dimension {
  padding: 5px;
  width: 30%;
  display: inline-block;
}
.display {
  position: absolute;
  display: inline-block;
  top: 45px;
}
.display2 {
  position: absolute;
  display: inline-block;
  top: 67px;
}
.display3 {
  position: absolute;
  display: inline-block;
  top: 158px;
}
.display4 {
  position: absolute;
  display: inline-block;
  top: 250px;
}
.display5 {
  position: absolute;
  display: inline-block;
  top: 135px;
}
.display6 {
  position: absolute;
  display: inline-block;
  top: 225px;
}
.mbottom {
  top: 10px;
}
.fontmargin {
  margin-top: 7px;
}
.temp {
  margin-top: 2px;
}
.temp2 {
  margin-left: 10px;
}
.temprow {
  height: 100px;
  width: 1000px;
}
.tempstyle {
  margin: 0 !important;
  padding: 0 !important;
  padding-right: 2px !important;
  /* padding-bottom: 5px !important; */
}

.center{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
